.back-to-list {
  width: 100px;
  font-size: 17px;
  color: black;
}

.details-make-body {
  display: grid;
  width: 140px;
  grid-template-columns: 70px 200px;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.details-make-body .name,
.abrv {
  text-align: end;
}

.name-placeholder,
.abrv-placeholder {
  font-weight: bold;
}
